.search-form {
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.search-input {
  width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f42;
}

.search-input:hover {
  border: 1px solid #000000;
}

.search-input:focus {
  border: 1px solid #4e75ff;
}

.search-btn {
  font-family: Montserrat;
  color: #ffffff;
  background-color: #4e75ff;
  outline: none;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.loader {
  margin-top: 30px;
  font-size: 48px;
  color: #0b0303;
  display: inline-block;
  font-family: Montserrat;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: 'Loading...';
  position: relative;
  z-index: 5;
}
.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background: linear-gradient(#4e75ff 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 5s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

.is-hidden {
  display: none;
}

.gallery {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  /* width: calc((100% - 40px) / 3); */
  cursor: pointer;
  border: 1px solid #808080;
  transition: 250ms cubic-bezier(0.14, 0.04, 0.66, 0.99);
}

.gallery-item:hover {
  -webkit-transform: scale(1.045);
  -ms-transform: scale(1.045);
  transform: scale(1.045);
}

.info-photo-box {
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  gap: 25px;
  justify-content: center;
  padding: 8px 0;
  align-items: center;
}

.info-item {
  text-align: center;
}

.photo {
  height: 200px;
  width: 360px;
}
